h1,
p {
  font-family: Lato;
}

.box {
  padding: 100px;
  border: solid blue;
  width: 1300px;
  margin: 15px;
}

.inputBox {
  width: 1000px;
  margin: 15px;
}

.outputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBox {
  width: 200px;
}

.devEur {
  background-color: red;
}
.devUsd {
  background-color: green;
}
